json/src/main/app/json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://localhost:5432/S04E06_DB_test?user=postgres&amp;password=root" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    <flow name="jsonFlow">
        <file:inbound-endpoint path="/Users/juan/Documents/AnypointStudio/anypointstudio_6_1_2/examples_ITSI2019/JSON/imput" moveToDirectory="/Users/juan/Documents/AnypointStudio/anypointstudio_6_1_2/examples_ITSI2019/JSON/temp" responseTimeout="10000" doc:name="File"/>
        <json:json-to-object-transformer returnClass="java.util.List" doc:name="JSON to Object"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO tblemployee(empid,empname,empage,empdesignation)
VALUES
(
	#[message.payload.empid],
	#[message.payload.empname],
	#[message.payload.empage],
	#[message.payload.empdesignation]
)]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
