.mule/apps/ajaxspellchecker/classes/ajaxspellchecker.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <ajax:connector name="Ajax" serverUrl="http://localhost:8081/ajaxSpellChecker" resourceBase="src/main/app/docroot" jsonCommented="true" doc:name="Ajax"/>
    <http:request-config name="HTTP_Request_Configuration" host="www.webspellchecker.net" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="ajaxspellcheckerFlow">
        <ajax:inbound-endpoint channel="/service/echo" connector-ref="Ajax" responseTimeout="10000" doc:name="Ajax"/>
        <http:request config-ref="HTTP_Request_Configuration" path="spellcheck3/script/ssrv.cgi?run_mode=web_service&amp;amp;customerid=1:ua3xw1-2XyGJ3-GWruD3-6OFNT1-oXcuB1-nR6Bp4-hgQHc-EcYng3-sdRXG3-NOfFk&amp;amp;cmd=check_spelling&amp;amp;version=1.0&amp;amp;out_type=words&amp;amp;slang=es_ES&amp;amp;callback=cc&amp;amp;format=xml&amp;amp;ignore_all_caps=1&amp;amp;ignore_mixed_case=1&amp;amp;ignore_domain_names=1&amp;amp;ignore_words_with_numbers=1&amp;amp;text=#[payload]" method="GET" doc:name="HTTP"/>
        <mulexml:xslt-transformer xsl-file="/Users/juan/Documents/AnypointStudio/workspace/ajaxspellchecker/src/main/app/transform.xsl" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT"/>
        <echo-component doc:name="Echo"/>
    </flow>
</mule>
