messageregister/src/main/app/messageregister.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd">
    <ajax:connector name="Ajax" serverUrl="http://localhost:8081/registerMessages" resourceBase="src/main/app/docroot" jsonCommented="true" doc:name="Ajax"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="messageregisterFlow">
        <ajax:inbound-endpoint channel="/register/message" connector-ref="Ajax" responseTimeout="10000" doc:name="Ajax"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <echo-component doc:name="Echo"/>
        <file:outbound-endpoint path="/Users/juan/Documents/AnypointStudio/anypointstudio_6_1_2/examples_ITSI2019" outputPattern="#[function:dateStamp:dd-MM-yy]_#[function:systime].txt" connector-ref="File" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
