splitter/src/main/app/splitter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="splitterFlow">
        <file:inbound-endpoint path="/Users/juan/Documents/anypointstudio_6_1_2/examples_ITSI2019/splitter/input" moveToDirectory="/Users/juan/Documents/anypointstudio_6_1_2/examples_ITSI2019/splitter/temp" responseTimeout="10000" doc:name="File"/>
        <splitter expression="#[xpath:shiporder/shipto/city]" doc:name="Splitter"/>
        <file:outbound-endpoint path="/Users/juan/Documents/anypointstudio_6_1_2/examples_ITSI2019/splitter/output" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
